# Установка внутренней кодировки
AddDefaultCharset utf-8
AddCharset utf-8 *

<IfModule mod_charset.c>
CharsetSourceEnc utf-8
CharsetDefault utf-8
</IfModule>

# ЧПУ
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /php_lvl2/source/lesson7/HW/
RewriteRule ^.htaccess$ - [F]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php?q=$0
</IfModule>